*, *::after, *::before {
    box-sizing: border-box;
}
body {
    font-family: Tahoma, sans-serif;
    /*    background-color: #00acc5; */
    
    background: url("../images/circuit2.jpg") fixed;
}
/*
.global-wrapper{

}
.global-left{
    background: url("../images/left-border.png");
    width: 32px;
    height: 1920px;
    background-attachment: fixed;
    display: inline-block;
    vertical-align: top;
    margin: 0px auto;
}
.global-right{
    background: url("../images/left-border.png");
    width: 32px;
    height: 1920px;
    background-attachment: fixed;
    display: inline-block;
    vertical-align: top;

}
*/

.container {
    width: 100%;
    max-width: 965px;
    margin: 0px auto;
    vertical-align: top;
}
.top-bar {
    position: relative;
    height: 120px;
    background-color: #00497f;
}
.logo {
    float: left;
    background: url(../images/minion_3_clear.png) no-repeat;
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}
/*Strip the ul of padding and list styling*/

.navContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
}
.navContainer ul:after {
    content: "";
    clear: both;
    display: block;
}
/*Create a horizontal list with spacing*/

.navContainer>ul>li {
    display: inline-block;
    float: left;
    line-height: 35px;
    border-right: solid 1px #fff0cb;
}
/*Style for menu links*/

.navContainer>ul>li a {
    display: block;
    min-width: 160px;
    text-align: center;
    color: #fff;
    background: #002a36;
    text-decoration: none;
    text-transform: uppercase;
}
/*Hover state for top level links*/

.navContainer>ul>li a:hover {
    background: #006bac;
}
/*Style for dropdown links*/

.navContainer>ul>li:hover ul a {
    background: #97e5e0;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/

.navContainer>ul>li:hover ul a:hover {
    background: #86ffd9;
    color: #ffa615;
}
/*Hide dropdown links until they are needed*/

.navContainer>ul>li>ul {
    display: none;
}
/*Display the dropdown menu on hover*/

.navContainer ul li:hover > ul {
    display: block;
}
/*Style for menu label button and hide it by default*/

.show-menu {
    text-decoration: none;
    color: #fff;
    background: #00c5c4;
    text-align: center;
    padding: 10px 0;
    display: none;
    text-transform: uppercase;
}
/*Hide checkbox*/

.navContainer input[type="checkbox"] {
    display: none;
}
/*Show menu when invisible checkbox is checked*/

.navContainer input[type="checkbox"]:checked ~ #menu {
    display: block;
}
/*Main*/

main {
    width: 100%;
    height: 100%;
    min-height: 700px;
    background-color: #fff0cb;
}
.mainContainer {
    width: 98%;
    margin: 0 1%;
    padding: 4%;
}
.mainContainer h1 {
    text-align: center;
}
.opening {
    display: inline-flex;
    flex-wrap: wrap;
}
.opening img {
    flex: 1;
    max-width: 100%;
}
.opening p {
    flex: 2;
    padding-left: 5%;
}
.mainContainer p {
    text-align: justify;
    line-height: 22px;
}
.qualities {
    display: inline-flex;
    flex-wrap: wrap;
}
.student-qualities {
    flex: 2;
}
.qualities img {
    flex: 1;
    padding-left: 5%;
    max-width: 100%;
}
section#teachers {
    width: 100%;
    display: block;
}
section#teachers article {
    display: inline-block;
}
section#teachers figure {
    width: 150px;
    height: 150px;
    float: left;
}
section#teachers figure img {
    width: 150px;
    height: 150px;
}
section#teachers article p {
    width: 70%;
    float: left;
}
/*Footer*/

footer {
    width: 100%;
    background-color: #002a55;
}
footer hr {
    height: 1px;
    color: #134c6f;
    background-color: #134c6f;
    border: none;
}
footer .footer-wrapper article {
    display: inline-block;
    vertical-align: top;
    padding: 10px 30px;
}
footer .footer-wrapper article h4 {
    color: #ffbc00;
    margin: 5px;
    padding: 0;
}
footer .footer-wrapper article ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer .footer-wrapper article ul li {
    line-height: 12px;
    padding: 5px;
}
footer .footer-wrapper article ul li:hover {
    background-color: rgba(152, 171, 141, 0.40);
}
footer .footer-wrapper article ul li a {
    text-decoration: none;
    color: #97e5e0;
    font-size: 12px;
    font-weight: bold;
}
footer .footer-wrapper article ul li a:hover {
    text-decoration: none;
    color: #ffbc00;
}
footer .location {
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    padding-bottom: 10px;
}
footer .location a {
    text-decoration: none;
    color: #ffffff;
}
footer .location a:hover {
    color: #aaa;
}
.fb-like-box {
    background-color: #ffffff;
}
/*Responsive Styles*/

@media screen and (max-width: 760px) {
    /*Make dropdown links appear inline*/
    
    .navContainer ul {
        position: static;
        display: none;
    }
    /*Make all menu links full width*/
    
    .navContainer ul li {
        width: 100%;
    }
    /*Display menu link*/
    
    .show-menu {
        display: block;
    }
    /*YouTube clip*/
    
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    /*Footer*/
    
    footer {
        height: auto;
    }
    footer > article > ul > li {
        display: block;
    }
    .opening img {
        flex: 3 100%;
    }
    .student-qualities{
        flex: 3 100%;
    }
}
@media screen and (max-width: 480px) {
    #fb-root {
        display: none;
    }
    .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
        width: 100% !important;
    }
}
